@font-face{
    font-family: 'Source Sans Pro';
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    src: url('EOT/SourceSansPro-Regular.eot') format('embedded-opentype'),
         url('WOFF2/TTF/SourceSansPro-Regular.ttf.woff2') format('woff2'),
         url('WOFF/OTF/SourceSansPro-Regular.otf.woff') format('woff'),
         url('OTF/SourceSansPro-Regular.otf') format('opentype'),
         url('TTF/SourceSansPro-Regular.ttf') format('truetype');
}
